<h1>This is my secret page!</h1>

<p>Don't look!</p>

<img src="http://www.morewallpapers.com/wp-content/uploads/2016/05/bengal-tiger-image-hd.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>